.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Display {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
}
.Display-input {
  display: flex;
  height: 30px;
  width: 20%;
  font-size: 20px;
  padding: 0 5px 0 5px;
}

.ButtonPanel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ButtonPanel-Groups{
  display: flex;
  flex-direction: column;
  width: 20%;

}
.ButtonPanel-Group {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}
.Button {
  display: inline-block;
  height: 46px;
  /* width: 22%; */
  order: 1;
  font-size: 20px;
  margin: 3px;
  text-align: center;
}