.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.Display {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.Display-input {
  height: 100px;
  width: 700px;
  font-size: 36px;
  padding: 0 5px 0 5px;
  text-align: right;
  vertical-align: middle;
  line-height: 90px;
  background-color: #858694;
  color: transparent;
  text-shadow: 0 0 0 white;
}
.ButtonPanel {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.ButtonPanel-Groups{
  display: flex;
  flex-direction: column;
  width: 21%;

}
.ButtonPanel-Group {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}
.Button {
  display: inline-block;
  height: 46px;
  order: 1;
  font-size: 16px;
  margin: 3px;
  text-align: center;
  flex-grow: 1;
}